.title {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: white;
    font-size: 19pt;
    line-height: 50px;
    margin-left: 8px;
    padding-right: 20px;

}

.rate {
    font-family: 'Khand', sans-serif;
    font-size: 15pt;
    display: table;
    color: white;
    position: absolute;
    left: 150px;
    top: 100px;
    bottom: 60px;
}

.context {
    width: 345px;
    height: 240px;
    position: absolute;
    top: 220px;
    background-color: silver;
    opacity: 0.7;
}

.rapper {
    width: 345px;
    height: 453px;
    background-color: black;
    position: absolute;
    top: 7px;

}

.caption {
    font-family: 'Khand', sans-serif;
    font-size: 13pt;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 10px;

}

.length {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 200px;
}

figure img {
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 30px;

}

.playbutton {
    position: absolute;
    bottom: 2px;
}
